.contact_form {
    .formulario {
        background-color: #ecd3b3;

        .cajacontacto {
            h1 {
                font-size: 30px;
                padding-bottom: 10px;
                color: #0a0909;
                text-align: center;
                font-family: 'Courier New', Courier, monospace;
            }

            h3 {
                color: #000000;
                text-align: center;
                padding: 5px;
                font-family: 'Courier New', Courier, monospace;
                font-size: 15px;
            }

            width: 100%;
            max-width: 600px;
            border-radius: 25px;
            background-color: #db9418;
            margin:0 auto;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }

        .cajaformulario {
            form {
                input{
                    background-color: #E8E1D9; 
                    width: 90%; 
                    height: 30px; 
                    border-radius: 10px;  
                    border-style: solid 1px black; 
                    margin-top: 10px;  
                    padding-left: 10px;
                    margin: 0.5rem;
                }
                textarea{
                    background-color: #fbfbfb; 
                    width: 405px; 
                    height: 150px; 
                    border-radius: 10px;  
                    border-style: solid 1px black;
                    margin-top: 10px;  
                    padding-left: 10px;
                    margin-bottom: 20px; 
                    padding-top: 15px;   
                }
                p {
                    color: rgb(2, 2, 2);
                    font-weight: bold;
                    font-family: 'Courier New', Courier, monospace;
                }

                button {
                    p{
                        color: rgb(2, 2, 2);
                        font-weight: bold;   
                    }
                    height: 45px;
                    padding-left: 5px;
                    padding-right: 5px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    text-transform: uppercase;
                    background-color: #9c6910;
                    border-color: #9c6910;
                    border-style: solid;
                    border-radius: 10px;
                    width: 420px;
                    cursor: pointer;
                    text-align: center;
                }

            }

            width: 100%;
            max-width: 600px;
            border-radius: 25px;
            background-color: #db9418;
            margin: 0 auto;
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }



    }
}