.main-nosotros{
    .destacado-nosotros {
        font-family: 'Oswald', sans-serif;
        font-family: 'Roboto Condensed', sans-serif;
        text-align: center;
        font-size: 19px; 
        background-color: limegreen;
        padding: 10px;
    }
    .destacado-titulo {
        background-image: url(../images/nosotros/nosotros.png);
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
        text-align: center;
        font-size: 50px;
        color: black;
    }
    div{
        display: flex;  
        flex-direction: column;
        height: 40%;
        .nosotros-titulo{
            border-top: yellow 6px solid;
            text-align: center;
            font-size: 30px;
        }
        .nosotros-titulo2{
            border-top: red 6px solid;
            text-align: center;
            font-size: 30px;
        }
        .nosotros-titulo3{
            border-top: green 6px solid;
            text-align: center;
            font-size: 30px;
        }
        .nosotros-texto{
            text-align: center;
            font-size: 18px;
            

        }
    }
    
}