.main-nosotros{
        h1{
            background-image: url(../../images/nosotros1.png);
        }
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        height: 50vh;
        
        
        .mision{
            border-top: #db9418 0.3em solid;
            width: 33%;
            
        }
        .vision{
            border-top: #b81800 0.3em solid;
            width: 33%;
            
        }
        .valores{
            border-top: #9600b4 0.3em solid;
            width: 33%;
        }
        p,h2{text-align: center;
        }
}