/*colores*/
$dark: #064635;
$light: #519259;
$Special: #F0BB62;
$white: #F4EEA9;


/*nueva*/
@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
/*font-family: 'Macondo', cursive;*/

$regular-font: "Roboto", 'sans-serif';
$special-font:'Macondo', 'cursive'; 
